<div class="text-center content text-black rounded-2 mx-auto p-4 flex justify-center bg-gray-900">
  <div class="my-3 w-fit flex flex-col gap-y-4 md:flex-row">
    <a class="text-[#0dcaf0] hover:bg-[#0dcaf0] hover:text-black border-[#0dcaf0] border-1 border px-5 py-2 transition-colors ease-linear will-change-[color,background] cursor-pointer md:rounded-r-none rounded-md" routerLink="/panel/posts/all">All Posts</a>
    <a class="text-[#0dcaf0] hover:bg-[#0dcaf0] hover:text-black border-[#0dcaf0] border-1 border px-5 py-2 transition-colors ease-linear will-change-[color,background] cursor-pointer md:rounded-none rounded-md" routerLink="/panel/comments/all">All Comments</a>
    <a class="text-[#0dcaf0] hover:bg-[#0dcaf0] hover:text-black border-[#0dcaf0] border-1 border px-5 py-2 transition-colors ease-linear will-change-[color,background] cursor-pointer md:rounded-l-none rounded-md" (click)="isLogout()">LogOut</a>
  </div>
</div>
